<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rismawan.jobhunter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobHunter">
        <activity android:name=".ActiveUser.Employer.KonfirmasiJob"></activity>
        <activity android:name=".ActiveUser.Talent.RequestJobTalent" />
        <activity
            android:name=".ActiveUser.Employer.EmployerUpdateJob"
            android:parentActivityName=".ActiveUser.Employer.EmployerActivity" />
        <activity
            android:name=".ActiveUser.Employer.EmployerAddJob"
            android:parentActivityName=".ActiveUser.Employer.EmployerActivity" />
        <activity android:name=".ActiveUser.Talent.TalentActivity" />
        <activity android:name=".ActiveUser.Employer.EmployerActivity" />
        <activity android:name=".Auth.Registrasi" />
        <activity android:name=".Auth.Login" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>